<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Counter-Strike Guns{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <img src="/static/logo.png" width="500" height="150" alt="Header graphic">
        <h2>{% block header %}{% endblock %}</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/"> <img src="/static/home.png" width="50" height="50" alt="Header graphic"></a></li>
            <li><a href="/guns/0"><img src="/static/ct.webp" width="50" height="50" alt="Header graphic"></a></li>
            <li><a href="/guns/1"><img src="/static/t.webp" width="50" height="50" alt="Header graphic"></a></li>

            <li><a href="/filter_by_damage"><img src="/static/most_damage.png" width="50" height="50" alt="Header graphic"></a>
            <li><a href="/guns/all_guns"><img src="/static/AK47.png" width="100" height="50" alt="Header graphic"></a></li>





            </li>
            <li>
                <form method="post" action="/search" class="search-bar">
                    <label for="searchbox"></label>
                    <input type="text" name="Search" id="searchbox" placeholder="Search">
                    <input type="image" src="/static/search.png" alt="Search" width="20" height="20">
                </form>
            </li>

        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
