<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Counter-Strike Guns{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
        <h1>Counter-Strike  Guns</h1>
        <h2>{% block header %}{% endblock %}</h2>
    </header>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/guns/1">Terrorist</a></li>
            <li><a href="/guns/0">Counter-Terrorist</a></li>
            <li><a href="/guns/all_guns">All Guns</a></li>
            <li>
                <form method="post" action="/search">
                    <label for ="searchbox"> Search the database: </label>
                    <input type="text" name ="Search" id="searchbox">
                    <input type="submit" value="Search!">

                </form>
            </li>
        </ul>
    </nav>
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>

