<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Counter-Strike Guns{% endblock %}</title>
    <link type="text/css" rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <header>
         <a href="/"><img class = "center" src="/static/logo.png" width="500" height="150" alt="Header graphic"></a>
        <h2>{% block header %}{% endblock %}</h2>
    </header>
    <nav>
        <ul>
            <li>
                <div class="img-wth-text">
                    <a href="/"><img src="/static/home.png" width="50" height="50" alt="Header graphic"></a>
                    <span>Home</span>

                </div>
            </li>

            <li>
                <div class ="img-wth-text">
                    <a href="/guns/0"><img src="/static/CT_ICON.png" width="50" height="50" alt="Header graphic"></a>
                    <span>Counter-Terrorist</span>
                </div>
            </li>


            <li>
                <div class ="img-wth-text">
                    <a href="/guns/1"><img src="/static/terroist_icon.png" width="50" height="50" alt="Header graphic"></a>
                    <span>Terrorist</span>
                </div>
            </li>

            <li>
                <div class = img-wth-text>
                    <a href="/most_damage"><img src="/static/damage.png" width="50" height="50" alt="Header graphic"></a>
                    <span>Most Damage</span>
                </div>


            </li>
            <li>
                <div class ="img-wth-text">
                    <a href="/guns/all_guns"><img src="/static/allguns1.png" width="50" height="50" alt="Header graphic"></a>
                    <span>All Guns</span>
                </div>
            </li>





            <li>
                <form method="post" action="/search" class="search-bar">
                    <label for="searchbox"></label>
                    <input type="text" name="Search" id="searchbox" placeholder="Search">
                    <input type="image" src="/static/search.png" alt="Search" width="20" height="20">
                </form>
            </li>

        </ul>
    </nav>

    <main>
        {% block content %}
        {% endblock %}

    </main>

</body>
</html>
