{% extends "base.html" %}

{% block content %}
    <h2 style="text-align: center">

        {% if table_type == '1' %}
           Terrorist Guns
        {% elif table_type == '0' %}
           Counter-Terrorist Guns
        {% elif table_type == 'all_guns' %}
           All Guns
        {% elif table_type == 'Most Damage' %}
            Most Damage
        {% else %}
            {{ table_type }}
        {% endif %}


    </h2>

    <table>
        <thead>
            <tr>
                {% if table_type == 'Most Damage' %}
                    <th>Name</th>
                    <th>Damage</th>
                {% else %}
                    <th>Id</th>
                    <th>Name</th>
                     <th>Cost</th>
                    <th>Kill Award</th>
                    <th>Kills to Rebuy</th>
                    <th>Damage</th>
                    <th>Clip Size</th>
                    <th>Max Ammo</th>
                {% endif %}
            </tr>
        </thead>
        <tbody>
            {% for row in data %}
                <tr>
                    {% if table_type == 'Most Damage' %}
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>

                    {% else %}
                        <td>{{ row[0] }}</td>
                        <td>{{ row[1] }}</td>
                        <td>{{ row[2] }}</td>
                        <td>{{ row[3] }}</td>
                        <td>{{ row[4] }}</td>
                        <td>{{ row[5] }}</td>
                        <td>{{ row[6] }}</td>
                        <td>{{ row[7] }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
