{% extends "base.html" %}

{% block title %}Counter-Strike Guns - Home{% endblock %}


{% block content %}
    <h2 style="text-align: center">Home</h2>
    <p style="text-align: center; font-size: 13px;">Counter-Strike is a multiplayer tactical first-person shooter. This is a website that displays the database of Counter-Strike Guns. You can press the buttons and search to suit your needs</p>


  <footer>
        <p class="disclaimer">The logo and background assets featured on this website are the property of Valve Corporation.</p>
    </footer>
{% endblock %}
